.nav {
    grid-area: n;
    background-color: salmon;
    padding: 15px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: blue;
}

.itemFriends {
    margin-top: 50px;
    color: white;
}