.app-wrapper {
  display: grid;
  grid-template-columns: 2fr 1.5fr 6.5fr 2fr; /* столбцы: имеется ширина сайта, один столбец будет занимать 2/12 ширины, 
                                    а другой 10/12 */
  grid-template-rows: 50px 1fr; /* строки: одна строка сверху будет занимать 60px,
                                    а строка снизу всю оставшуюся часть*/
  grid-template-areas: 
  ". h h ."
  ". n c .";
  grid-gap: 10px;
}
