.dialogsBlock{
    display: grid;
    grid-template-columns: 2fr 3fr; /* столбцы: имеется ширина сайта, пополам */
    grid-template-areas: "d m";
}

.dialogsFriendItems{
    grid-area: d;
}

.messagesFriendItems{
    padding: 15px;
    grid-area: m;
}

/*.dialogsFriendItems .dialogOnlyItem .nameFriend{
    margin-top: 100px;

}

.dialogsFriendItems .dialogOnlyItem a.activeLink .nameFriend{
    color: red;
}

.dialogImage{
    width: 60px;
    height: 60px;
    border-radius: 30px;
}*/

