.dialogsBlock {
    display: grid;
    grid-template-columns: 2fr 4fr; /* столбцы: имеется ширина сайта, пополам */
    /*grid-template-areas: "d m";*/
}

.dialogsFriendItems {
    /*grid-area: d;*/
}

.messagesFriendItems {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    /*grid-area: m;*/
}

.submitMessage {
    padding-top: 35.7%;
}

.submitButton {
    padding-top: 16px;
}

.submitContent {
    margin-bottom: -6px;
    width: 300px;
}